 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
 }

 body {
    display: grid;
    //I don't think I need this many grid areas, could realistically make it only 3 areas, but I'm still learning.
    grid-template-areas: 
    "header header header header" 
    "aside nav nav nav" 
    "aside main main main" 
    "footer footer footer footer";
    grid-gap: 10px;
    //I think this is necessary, honestly don't really know
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 1fr 3fr 0.5fr;
    height: 100vh;
    text-align: center;
    background-color: #e52670;
    color: white;
 }

//This is royally scuffed and is a horrible way to center everything, I really wish sass had better variables
header,nav,aside,main,footer {
   display: grid;
   justify-content: center;
   align-items: center;
}

 header {
    grid-area: header;
    background-color: black;
 }

 nav {
    grid-area: nav;
    background-color:#F7AF6A;
 }

 aside {
    grid-area: aside;
    background-color: #E66E1A;
 }

 main {
    grid-area: main;
    background-color: #c4c4c4;
 }

 footer {
    grid-area: footer;
    background-color: black;
 }

 @media screen and ( max-width: 768px) {
    
   //Note to self: Would be better to just use normal column and row values rather than grid-area for this, it looks
   //like a mess and required a lot of extra style rewriting (maybe, due to having to redo grid-column-start and end could still be more efficient)
   body {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "header header header" 
      "nav nav nav" 
      "main main main" 
      "footer footer footer";
    }
    //Hide aside for mobile, I do both display and visibility changes for the sake of thoroughness
    //If only this removed its columns from the grid area as well, then I wouldn't have to write so much
    aside {
      display: none;
      visibility: hidden;
    }
 }
   
 